body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* ---------------- DARK MODE -----------------------------------------------------*/

.dark-mode {
  color:#fff;
  background-color:#4A3E36;
  
}

.dark-mode header {
  color:#fff;
  background-color: #998070;
}

/* Sign Up CSS Below --------------------------------------------------------------*/

/* Color HexCodes: **

Orange: #F97E03
Black: #000000
Paco-Grey: #4A3E36
Almond Frost-grey: #998070
White: #FFFFFF; 
*/


/* Forms centered using Flex and Align Items: center w/ flex-direction:column */
/* Form is the ENTIRE Form w/ inputs*/


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F97E03;
  background-size: contain; 
  padding: 2rem;
}

/* Each individual input shares the same className to make things easier */
/* inputs */
.signUpInput{
  width: 30rem;
  background: white;
  padding: 0.8rem;
  border-radius: 3em;
  margin: 1.3rem;
  height: 6.5rem;

}

/*  Button */
.signUpSubmitBtn {
  width: 12rem;
  height: 4rem;
  color: white;
  border: 3px solid #F97E03;
  background-color: #6c757d;
  border-radius: 3em !important;
  margin-bottom: -2rem;
  margin-top: 1rem;
  font-size: 1.4rem !important;
}
.signUpSubmitBtn:hover {
  color: white;
  background: #5f676e;
  transition: 1s;
}

/* Have an Account? Log In ! Link */
.logInLink{
  width: 30rem;
  color:  white;
  border: 3px dotted #998070;;
  background-color: #998070;
  border-radius: 3em;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  margin: 2rem;
}
.logInLink:hover{
  color: white;
  background-color:  #4A3E36;
  transition: 1s;
  border: 3px dotted #4A3E36;
}

/* Don't Have An Account? Sign Up Here! */
.signUpLink{
  width: 30rem;
  color:  white;
  border: 3px dotted #998070;;
  background-color: #998070;
  border-radius: 3em;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  margin: 2rem;
  margin-top: 4rem;
}
.signUpLink:hover{
  color: white;
  background-color:  #4A3E36;
  transition: 1s;
  border: 3px dotted #4A3E36;
}

.signUpHeaderStyles{
 margin: 2rem;
 margin-top: 0rem;

}


/* -------------------------------------------------------------------------------- */

/* Login.js CSS Below--------------------------------------------------------------- */

/* This styles the input */
.loginComp{
  border: 3px solid white;
  width: 30rem;
  background: white;
  padding: 0.8rem;
  border-radius: 3em;
  margin: 1.3rem;
  height: 5rem;
  margin-top: 0;
}

.loginUserPass {
  border: 3px solid white;
  width: 10rem;
  background: white;
  padding: 0.8rem;
  border-radius: 3em;
  margin: 1rem;
  margin-top: 0;
  color: black;
  
}

.headerStyles{
  width: 30rem;
  color:  white;
  border: 3px dotted #4A3E36;;
  background-color: #4A3E36;
  border-radius: 3em;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  
}


/* -------------------------------------------------------------------------------- */



/* Header.js CSS Below------------------------------------------------------------- */

.active {
  color: orange;
}

.logo {
  max-height: 75px;
}

/* -------------------------------------------------------------------------------- */



/* About.js CSS Below-------------------------------------------------------------- */


.main-about-container{
  background-color: #F97E03;
  width: 100vw;
  display: flex;
  align-items: center;
}

.team-container {
  width: 880px;
  margin: 0 auto;
}

.team-members{
  padding-bottom: 50px;
  align-items: center;  
}

.team-members img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
  }




  /* Landing CSS Below------------------------------------------------------------- */

.jumbo-head {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}

.jumbo-subhead {
  color: #fff;
}

/*--------------------------------------------------------------------------------- */
/* commentList below ----------------------------------------------------------------*/

.commentComponent {
  text-align: left;
}
.commentIMG{
  max-width: 100%;
}
.commentImg img {
  width: 5rem;
}

/* -------------------------------------------------------------------------------------*/
