body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Sign Up CSS Below --------------------------------------------------------------*/

/* Color HexCodes: **

Orange: #F97E03
Black: #000000
Paco-Grey: #4A3E36
Almond Frost-grey: #998070
White: #FFFFFF; 
*/


/* Forms centered using Flex and Align Items: center w/ flex-direction:column */
/* Form is the ENTIRE Form w/ inputs*/


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F97E03;
  background-size: contain; 
  padding: 2rem;
}

/* Each individual input shares the same className to make things easier */
/* inputs */
.signUpInput{
  width: 30rem;
  background: white;
  padding: 0.8rem;
  border-radius: 3em;
  margin: 1.3rem;
  height: 6.5rem;

}

/*  Button */
.signUpSubmitBtn {
  width: 10rem;
  height: 3rem;
  color: black;
  border: 3px solid #F97E03;
  background-color: white;
  border-radius: 3em;
}
.signUpSubmitBtn:hover {
  color: white;
  background: #998070;
  transition: 1s;
}

/* Have an Account? Log In ! Link */
.logInLink{
  width: 30rem;
  color:  white;
  border: 3px dotted #4A3E36;;
  background-color: #998070;
  border-radius: 3em;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  margin: 2rem;
}
.logInLink:hover{
  color: white;
  background-color:  #998070;
  transition: 1s;
  border: 3px dotted #998070;
}


/* -------------------------------------------------------------------------------- */